@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Content to be created..</p>

    <p>
        Features:(02-18-2022):<br />
        - Categories  <br />
        - Product
    </p>
    <p>
         Features:(02-25-2022)<br />
        -Addresses <br />
        -Transaction <br />
        -Suppliers<br />
        -Users <br />
    </p>
    <p>
        New Features:(03-04-2022)<br />
        -Transaction Purchase Funcionality ( CRUD ) / Layout<br />
        -Role Class Created <br />
        -Program Funcionality ( Interations between the tables )
    </p>
    <p>
        Next Feautures:<br />
        -Product Funcionality ( CRUD ) / Layout<br />
        -Supplier Funcionality ( CRUD ) / Layout
    </p>


</div>
