@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Content to be created..</p>

    <p>Previous Features (02-18-2022):<br />
    - Categories  <br />
    - Product </p>
    <p>This Week Features:<br />
    -Addresses <br />
    -Transaction <br />
    -Suppliers<br />
    -Users <br /></p>
</div>
