@{
    ViewData["Title"] = "Help";
}



<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/css/sitee.css" />
<link rel="stylesheet" href="~/css/product.css" />
<link rel="stylesheet" href="~/css/category.css" />


<hr />
<h2 class="title">Help</h2>
<hr />

<div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 style="text-align:center">UNDER CONSTRUCTION</h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



</div>